{% load static %}
<html>
<head>
    <title>Django</title>



        <link rel="icon" href="{% static 'images/n_logo.png' %}" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href=" {% static 'easyui/themes/metro-blue/easyui.css' %}">
        <link rel="stylesheet" type="text/css" href=" {% static  'easyui/themes/icon.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href=" {% static 'css/general.css' %}">
        <script type="text/javascript" src="{% static   'easyui/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static  'easyui/jquery.easyui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/script_home.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/script_kategori.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/script_status.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/script_produk.js'%}"></script>
        <style>
             .bg {
    /* The image used */
    background-image: url("{% static 'images/main1.png' %}");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
        </style>
</head>
<body>
    <div class="bg"></div>
 
    <div class="easyui-layout" style="width:100%;height:100%;top:0;left:0;position: absolute;">
        <div data-options="region:'west'" style="width:200px;background: transparent;">
            <div style="margin-left:0px;margin-bottom: 50px;">
                <img src="{% static 'images/nn.png' %}" alt="My image" width="174" height="59">
            </div>
            <div>
                <div style="margin-bottom: 20px;margin-left: 20px;">
                    <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1',selected:true" style="width: 90%;height:40px;" onclick="read_api()">Read API</a>
                </div>

                <div style="margin-bottom: 20px;margin-left: 20px;">
                    <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" style="width: 90%;height:40px;" onclick="read_kategori()">Kategori</a>
                </div>
                <div style="margin-bottom: 20px;margin-left: 20px;">
                    <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" style="width: 90%;height:40px;" onclick="read_status()">Status</a>
                </div>

                <div style="margin-bottom: 20px;margin-left: 20px;">
                    <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" style="width: 90%;height:40px;" onclick="read_produk()">Produk</a>
                </div>
                <!-- <div style="margin-bottom: 20px;margin-left: 20px;">
                    <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" style="width: 90%;height:40px;">Button 5</a>
                </div> -->
            </div>
        </div>
        <div data-options="region:'center'" style="background: transparent;">
            <div id="p1" class="easyui-panel" style="width:100%;height:50px;padding:10px;background: white;border-left: none;border-right:none;">
                        <div id="title" style="width: 100px;height:10px;margin-top: 3px;border:0px red solid;color:#0082CA;font-weight: 800;">
                            Read API
                        </div>
                        <div style="width:100px;float: right;margin-top: -15px;margin-right: 10px;">
                            <img src="{% static 'images/account.png' %}" alt="My image" width="28" height="28">
                          
                            <a href="#" class="easyui-menubutton" data-options="menu:'#mm2'">{{ request.session.person.name }}</a> 
                            <div id="mm2" style="width:100px;" data-options="
                            onClick:function(item){
                                if(item.name == 'about'){
                                    about_app()
                                }else if (item.name == 'logout'){
                                    logout_app()
                                }
                            }">
                                <div data-options="name:'about'" style="height: 40px;" >About</div>
                                <div data-options="name:'logout'" style="height: 40px;">Logout</div>
                            </div>
                        </div>

            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div id="p3"  class="easyui-panel" style="padding:5px;border-top:none;border-left:none;border-right:none;">
                    <a id="btn1" href="#" class="easyui-linkbutton" >Generate Kategori</a>
                    <a id="btn2" href="#" class="easyui-linkbutton" data-options="disabled:true">Generate Status</a>
                    <a id="btn3" href="#" class="easyui-linkbutton" data-options="disabled:true">Generate Product</a>
                </div>
            </form>
           

            <div id="p2" class="easyui-panel"  style="width:100%;height:80%;padding:10px;border:none;background: transparent;">
            </div>
            
        </div>
    </div>

    <div id="w" class="easyui-window" title="Novate" data-options="modal:true,closed:true,maximizable:false,minimizable:false,collapsible:false,resizable:false" style="width:400px;height:220px;padding:10px;background: white;">
        <img src="{% static 'images/nn.png' %}" alt="My image1" width="174" height="59">
        <div>
            <b>Fastprint test programmer</b>
            <ul>
                <li>
                    Language : phyton + django
                </li>
                <li>
                   Database : postgre
                </li>
                <li>
                   Developed At : 23-September-2023
                </li>
            </ul>
           
        </div>
    </div>

</body>
</html>